@using ServiceLayer.ViewModels
@model LessonListFirstPageViewModel




<table id="examTable" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Academic Year</th>
            <th>Lesson Name</th>
            <th>Midterm Exam Score</th>
            <th>Final Exam Score</th>
            <th>But Exam Score</th>
            <th>Flag</th>
            <th>Is Constant</th>
            <th>Is Passed</th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ExamModelViews)
        {
            <tr>
                <td>@item.AcademicYear @item.AcademicYearPeriod</td>
                <td>@item.LessonName</td>
                <td>@item.MidtermExamScore</td>
                <td>@item.FinalExamScore</td>
                <td>@item.ButExamScore</td>
                <td>@item.FlagAbc</td>
                <td>@item.IsConstant</td>
                <td>@item.IsPassed</td>
                <td>@item.Score</td>
            </tr>
        }
    </tbody>
</table>